.homeDiv{
  padding: 0.5rem 10rem;
}

.Btn{
  padding: 5px 10px;
  margin: 0px 2px;
  color: white;
  border-radius: 10px;
  border: none;
}

.readBtn{
  background-color: rgb(100, 100, 237);
}

.editBtn{
  background-color: rgb(33, 206, 33)
}
.deleteBtn{
  background-color:rgb(210, 66, 66)
}
.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  padding: 0 5px; 
  height: 30px;
}